{% extends 'website/base.html' %}

{% block link %}
    <link rel="shortcut icon" type="image/x-icon" href="../../static/website/images/palette_icon.ico">
{% endblock %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block li %}
    <li><a class="nav-link active" href="./index.html">Home</a></li>
    <li><a class="nav-link" href="./form.html">Criar</a></li>
    <li><a class="nav-link" href="./quizz.html">Quizz</a></li>
{% endblock %}

{% block main %}
    <section id="palette-section">
        <!-- Paleta-001 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#eeebdd" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#eeebdd</text>
                </g>

                <rect class="color-line" fill="#810000" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#810000</text>
                </g>

                <rect class="color-line" fill="#630000" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#630000</text>
                </g>

                <rect class="color-line" fill="#1b1717" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#1b1717</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-001.html" class="palette-name">Paleta - 0001</a>
            <p class="palette-author">Cristopher</p>
        </article>

        <!-- Paleta-002 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#151515" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#151515</text>
                </g>

                <rect class="color-line" fill="#301b3f" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#301b3f</text>
                </g>

                <rect class="color-line" fill="#3c415c" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#3c415c</text>
                </g>

                <rect class="color-line" fill="#b4a5a5" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#b4a5a5</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-002.html" class="palette-name">Paleta - 0002</a>
            <p class="palette-author">Mike</p>

        </article>

        <!-- Paleta-003 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#8c0000" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#8c0000</text>
                </g>

                <rect class="color-line" fill="#bd2000" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#bd2000</text>
                </g>

                <rect class="color-line" fill="#fa1e0e" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#fa1e0e</text>
                </g>

                <rect class="color-line" fill="#ffbe0f" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#ffbe0f</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-003.html" class="palette-name">Paleta - 0003</a>
            <p class="palette-author">Jason</p>

        </article>

        <!-- Paleta-004 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#c5d7bd" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#c5d7bd</text>
                </g>

                <rect class="color-line" fill="#9fb8ad" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#9fb8ad</text>
                </g>

                <rect class="color-line" fill="#383e56" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#383e56</text>
                </g>

                <rect class="color-line" fill="#fb743e" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#fb743e</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-004.html" class="palette-name">Paleta - 0004</a>
            <p class="palette-author">Trevor</p>

        </article>

        <!-- Paleta-005 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#e3fdfd" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#e3fdfd</text>
                </g>

                <rect class="color-line" fill="#cbf1f5" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#cbf1f5</text>
                </g>

                <rect class="color-line" fill="#a6e3e9" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#a6e3e9</text>
                </g>

                <rect class="color-line" fill="#71c9ce" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#71c9ce</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-005.html" class="palette-name">Paleta - 0005</a>
            <p class="palette-author">Maria</p>
        </article>

        <!-- Paleta-006 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#2b2e4a" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#2b2e4a</text>
                </g>

                <rect class="color-line" fill="#e84545" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#e84545</text>
                </g>

                <rect class="color-line" fill="#903749" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#903749</text>
                </g>

                <rect class="color-line" fill="#53354a" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#53354a</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-006.html" class="palette-name">Paleta - 0006</a>
            <p class="palette-author">Trevor</p>
        </article>

        <!-- Paleta-007 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#212121" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#212121</text>
                </g>

                <rect class="color-line" fill="#323232" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#323232</text>
                </g>

                <rect class="color-line" fill="#0d7377" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#0d7377</text>
                </g>

                <rect class="color-line" fill="#14ffec" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#14ffec</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-007.html" class="palette-name">Paleta - 0007</a>
            <p class="palette-author">Jon</p>
        </article>

        <!-- Paleta-008 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#6fe7dd" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#6fe7dd</text>
                </g>

                <rect class="color-line" fill="#3490de" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#3490de</text>
                </g>

                <rect class="color-line" fill="#6639a6" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#6639a6</text>
                </g>

                <rect class="color-line" fill="#521262" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#521262</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-008.html" class="palette-name">Paleta - 0008</a>
            <p class="palette-author">Dave</p>
        </article>

        <!-- Paleta-009 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#3ec1d3" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#3ec1d3</text>
                </g>

                <rect class="color-line" fill="#f6f7d7" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#f6f7d7</text>
                </g>

                <rect class="color-line" fill="#ff9a00" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#ff9a00</text>
                </g>

                <rect class="color-line" fill="#ff165d" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#ff165d</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-009.html" class="palette-name">Paleta - 0009</a>
            <p class="palette-author">Liana</p>
        </article>

        <!-- Paleta-010 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#233142" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#233142</text>
                </g>

                <rect class="color-line" fill="#455d7a" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#455d7a</text>
                </g>

                <rect class="color-line" fill="#f95959" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#f95959</text>
                </g>

                <rect class="color-line" fill="#e3e3e3" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#e3e3e3</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-010.html" class="palette-name">Paleta - 0010</a>
            <p class="palette-author">Max</p>
        </article>

        <!-- Paleta-011 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#303841" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#303841</text>
                </g>

                <rect class="color-line" fill="#3a4750" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#3a4750</text>
                </g>

                <rect class="color-line" fill="#d72323" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#d72323</text>
                </g>

                <rect class="color-line" fill="#eeeeee" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#eeeeee</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-011.html" class="palette-name">Paleta - 0011</a>
            <p class="palette-author">Alex</p>
        </article>

        <!-- Paleta-012 -->
        <article class="small-palette-box">
            <svg>
                <rect class="color-line" fill="#f3f4ed" x="0" y="0"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="0"></rect>
                    <rect class="text-contrast" x="170" y="25"></rect>
                    <text x="180" y="45" fill="#fff">#f3f4ed</text>
                </g>

                <rect class="color-line" fill="#536162" x="0" y="50"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="50"></rect>
                    <rect class="text-contrast" x="170" y="75"></rect>
                    <text x="180" y="95" fill="#fff">#536162</text>
                </g>

                <rect class="color-line" fill="#424642" x="0" y="100"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="100"></rect>
                    <rect class="text-contrast" x="170" y="125"></rect>
                    <text x="180" y="145" fill="#fff">#424642</text>
                </g>

                <rect class="color-line" fill="#c06014" x="0" y="150"></rect>
                <g class="color-code">
                    <rect class="overlay" x="0" y="150"></rect>
                    <rect class="text-contrast" x="170" y="175"></rect>
                    <text x="180" y="195" fill="#fff">#c06014</text>
                </g>
            </svg>
            <a href="./color-pages/color-page-012.html" class="palette-name">Paleta - 0012</a>
            <p class="palette-author">Lucas</p>
        </article>

    </section>
{% endblock %}