{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0008</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0008</h2>
        <h3>Criada por Dave</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#6FE7DD" width="200px" height="200px"></rect>
                </svg>
                <p>#6FE7DD</p>
                <p>rgb(111,231,221)</p>
                <p>hsl(175,71.4%,67.1%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#3490DE" width="200px" height="200px"></rect>
                </svg>
                <p>#3490DE</p>
                <p>rgb(52,144,222)</p>
                <p>hsl(207.5,72%,53.7%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#6639A6" width="200px" height="200px"></rect>
                </svg>
                <p>#6639A6</p>
                <p>rgb(102,57,166)</p>
                <p>hsl(264.8,48.9%,43.7%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#521262" width="200px" height="200px"></rect>
                </svg>
                <p>#521262</p>
                <p>rgb(82,18,98)</p>
                <p>hsl(288,69%,22.7%)</p>
            </article>
        </section>
    </section>
{% endblock %}