{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0005</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0005</h2>
        <h3>Criada por Maria</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#E3FDFD" width="200px" height="200px"></rect>
                </svg>
                <p>#E3FDFD</p>
                <p>rgb(227,253,253)</p>
                <p>hsl(180,86.7%,94.1%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#CBF1F5" width="200px" height="200px"></rect>
                </svg>
                <p>#CBF1F5</p>
                <p>rgb(203,241,245)</p>
                <p>hsl(185.7,67.7%,87.8%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#A6E3E9" width="200px" height="200px"></rect>
                </svg>
                <p>#A6E3E9</p>
                <p>rgb(166,227,233)</p>
                <p>hsl(185.4,60.4%,78.2%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#71C9CE" width="200px" height="200px"></rect>
                </svg>
                <p>#71C9CE</p>
                <p>rgb(113,201,206)</p>
                <p>hsl(183.2,48.7%,62.5%)</p>
            </article>
        </section>
    </section>
{% endblock %}