{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0011</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0011</h2>
        <h3>Criada por Alex</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#303841" width="200px" height="200px"></rect>
                </svg>
                <p>#303841</p>
                <p>rgb(48,56,65)</p>
                <p>hsl(211.8,15%,22.2%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#3A4750" width="200px" height="200px"></rect>
                </svg>
                <p>#3A4750</p>
                <p>rgb(58,71,80)</p>
                <p>hsl(204.5,15.9%,27.1%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#D72323" width="200px" height="200px"></rect>
                </svg>
                <p>#D72323</p>
                <p>rgb(215,35,35)</p>
                <p>hsl(0,72%,49%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#EEEEEE" width="200px" height="200px"></rect>
                </svg>
                <p>#EEEEEE</p>
                <p>rgb(238,238,238)</p>
                <p>hsl(0,0%,93.3%)</p>
            </article>
        </section>
    </section>
{% endblock %}