{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0007</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0007</h2>
        <h3>Criada por Jon</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#212121" width="200px" height="200px"></rect>
                </svg>
                <p>#212121</p>
                <p>rgb(33,33,33)</p>
                <p>hsl(0,0%,12.9%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#323232" width="200px" height="200px"></rect>
                </svg>
                <p>#323232</p>
                <p>rgb(50,50,50)</p>
                <p>hsl(0,0%,19.6%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#0D7377" width="200px" height="200px"></rect>
                </svg>
                <p>#0D7377</p>
                <p>rgb(13,115,119)</p>
                <p>hsl(182.3,80.3%,25.9%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#14FFEC" width="200px" height="200px"></rect>
                </svg>
                <p>#14FFEC</p>
                <p>rgb(20,255,236)</p>
                <p>hsl(175.1,100%,53.9%)</p>
            </article>
        </section>
    </section>
{% endblock %}