{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0001</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0001</h2>
        <h3>Criada por Cristopher</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#EEEBDD" width="200px" height="200px"></rect>
                </svg>
                <p>#EEEBDD</p>
                <p>rgb(238,235,221)</p>
                <p>hsl(49.4,33.3%,90%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#810000" width="200px" height="200px"></rect>
                </svg>
                <p>#811515</p>
                <p>rgb(129,0,0)</p>
                <p>hsl(0,100%,25.3%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#630000" width="200px" height="200px"></rect>
                </svg>
                <p>#630000</p>
                <p>rgb(99,0,0)</p>
                <p>hsl(0,100%,19.4%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#1B1717" width="200px" height="200px"></rect>
                </svg>
                <p>#1B1717</p>
                <p>rgb(27,23,23)</p>
                <p>hsl(0,8%,9.8%)</p>
            </article>
        </section>
    </section>
{% endblock %}