{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0004</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0004</h2>
        <h3>Criada por Trevor</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#C5D7BD" width="200px" height="200px"></rect>
                </svg>
                <p>#C5D7BD</p>
                <p>rgb(197,215,189)</p>
                <p>hsl(101.5,24.5%,79.2%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#9FB8AD" width="200px" height="200px"></rect>
                </svg>
                <p>#9FB8AD</p>
                <p>rgb(159,184,173)</p>
                <p>hsl(153.6,15%,67.3%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#383E56" width="200px" height="200px"></rect>
                </svg>
                <p>#383E56</p>
                <p>rgb(56,62,86)</p>
                <p>hsl(228,21.1%,27.8%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#FB743E" width="200px" height="200px"></rect>
                </svg>
                <p>#FB743E</p>
                <p>rgb(251,116,62)</p>
                <p>hsl(17.1,95.9%,61.4%)</p>
            </article>
        </section>
    </section>
{% endblock %}