{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0003</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0003</h2>
        <h3>Criada por Jason</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#8C0000" width="200px" height="200px"></rect>
                </svg>
                <p>#8C0000</p>
                <p>rgb(140,0,0)</p>
                <p>hsl(0,100%,27.5%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#BD2000" width="200px" height="200px"></rect>
                </svg>
                <p>#BD2000</p>
                <p>rgb(189,32,0)</p>
                <p>hsl(10.2,100%,37.1%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#FA1E0E" width="200px" height="200px"></rect>
                </svg>
                <p>#FA1E0E</p>
                <p>rgb(250,30,14)</p>
                <p>hsl(4.1,95.9%,51.8%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#FFBE0F" width="200px" height="200px"></rect>
                </svg>
                <p>#FFBE0F</p>
                <p>rgb(255,190,15)</p>
                <p>hsl(43.8,100%,52.9%)</p>
            </article>
        </section>
    </section>
{% endblock %}