{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0002</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0002</h2>
        <h3>Criada por Mike</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#151515" width="200px" height="200px"></rect>
                </svg>
                <p>#151515</p>
                <p>rgb(21,21,21)</p>
                <p>hsl(0,0%,8.2%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#301B3F" width="200px" height="200px"></rect>
                </svg>
                <p>#301B3F</p>
                <p>rgb(48,27,63)</p>
                <p>hsl(275,40%,17.6%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#3C415C" width="200px" height="200px"></rect>
                </svg>
                <p>#3C415C</p>
                <p>rgb(60,65,92)</p>
                <p>hsl(230.6,21.1%,29.8%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#B4A5A5" width="200px" height="200px"></rect>
                </svg>
                <p>#B4A5A5</p>
                <p>rgb(180,165,165)</p>
                <p>hsl(0,9.1%,67.6%)</p>
            </article>
        </section>
    </section>
{% endblock %}