{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0009</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0009</h2>
        <h3>Criada por Liana</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#3EC1D3" width="200px" height="200px"></rect>
                </svg>
                <p>#3EC1D3</p>
                <p>rgb(62,193,211)</p>
                <p>hsl(187.2,62.9%,53.5%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#F6F7D7" width="200px" height="200px"></rect>
                </svg>
                <p>#F6F7D7</p>
                <p>rgb(246,247,215)</p>
                <p>hsl(61.9,66.7%,90.6%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#FF9A00" width="200px" height="200px"></rect>
                </svg>
                <p>#FF9A00</p>
                <p>rgb(255,154,0)</p>
                <p>hsl(36.2,100%,50%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#FF165D" width="200px" height="200px"></rect>
                </svg>
                <p>#FF165D</p>
                <p>rgb(255,22,93)</p>
                <p>hsl(341.7,100%,54.3%)</p>
            </article>
        </section>
    </section>
{% endblock %}