{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0006</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0006</h2>
        <h3>Criada por Trevor</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#2B2E4A" width="200px" height="200px"></rect>
                </svg>
                <p>#2B2E4A</p>
                <p>rgb(43,46,74)</p>
                <p>hsl(234.2,26.5%,22.9%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#E84545" width="200px" height="200px"></rect>
                </svg>
                <p>#E84545</p>
                <p>rgb(232,69,69)</p>
                <p>hsl(0,78%,59%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#903749" width="200px" height="200px"></rect>
                </svg>
                <p>#903749</p>
                <p>rgb(144,55,73)</p>
                <p>hsl(347.9,44.7%,39%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#53354A" width="200px" height="200px"></rect>
                </svg>
                <p>#53354A</p>
                <p>rgb(83,53,74)</p>
                <p>hsl(318,22.1%,26.7%)</p>
            </article>
        </section>
    </section>
{% endblock %}