{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0012</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0012</h2>
        <h3>Criada por Lucas</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#F3F4ED" width="200px" height="200px"></rect>
                </svg>
                <p>#F3F4ED</p>
                <p>rgb(243,244,237)</p>
                <p>hsl(68.6,24.1%,94.3%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#536162" width="200px" height="200px"></rect>
                </svg>
                <p>#536162</p>
                <p>rgb(83,97,98)</p>
                <p>hsl(184,8.3%,35.5%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#424642" width="200px" height="200px"></rect>
                </svg>
                <p>#424642</p>
                <p>rgb(66,70,66)</p>
                <p>hsl(120,2.9%,26.7%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#C06014" width="200px" height="200px"></rect>
                </svg>
                <p>#C06014</p>
                <p>rgb(192,96,20)</p>
                <p>hsl(26.5,81.1%,41.6%)</p>
            </article>
        </section>
    </section>
{% endblock %}