{% extends 'website/color-pages/base_pallete.html' %}

{% block title %}
    <title>Paleta - 0010</title>
{% endblock %}

{% block main %}
    <section id="palette-info">

        <h2>Paleta - 0010</h2>
        <h3>Criada por Max</h3>

        <section id="color-itens">
            <article class="color-item">
                <svg>
                    <rect fill="#233142" width="200px" height="200px"></rect>
                </svg>
                <p>#233142</p>
                <p>rgb(35,49,66)</p>
                <p>hsl(212.9,30.7%,19.8%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#455D7A" width="200px" height="200px"></rect>
                </svg>
                <p>#455D7A</p>
                <p>rgb(69,93,122)</p>
                <p>hsl(212.8,27.7%,37.5%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#F95959" width="200px" height="200px"></rect>
                </svg>
                <p>#F95959</p>
                <p>rgb(249,89,89)</p>
                <p>hsl(0,93%,66.3%)</p>
            </article>

            <article class="color-item">
                <svg>
                    <rect fill="#E3E3E3" width="200px" height="200px"></rect>
                </svg>
                <p>#E3E3E3</p>
                <p>rgb(227,227,227)</p>
                <p>hsl(0,0%,89%)</p>
            </article>
        </section>
    </section>
{% endblock %}